:root {
    --primary: #50759F;
}

body {
    font-family: 'Titillium Web', sans-serif;
    min-width: 320px;
    overflow-x: hidden !important;
}

main {
    min-height: 100vh;
    padding: 3rem 0;
    background-color: rgba(0, 0, 0, 0.5);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
}

.nav-item {
    font-weight: bold;
    margin: 0 0.75rem;
}

.nav-link {
    color: black !important;
}

.nav-link:hover {
    color: #666666 !important;
    transition: 0.5s;
}

.nav-item.active .nav-link {
    color: var(--primary) !important;
}

.logo {
    width: 110px;
}

.fa {
    margin-right: 3px;
}

.header {
    margin-bottom: 1rem;
}

h3,
h1,
h4 {
    font-weight: bold;
}

.header>p {
    font-style: italic;
    font-size: 1.1rem;
}

.btn-col {
    margin-bottom: 1.2rem;
}

.category-btn {
    font-weight: bold;
    padding: 0.4rem 4rem;
    color: var(--primary);
    background-color: white;
    text-decoration: none !important;
    border: 1px solid var(--primary);
    border-radius: 7px;
}

.category-btn.active {
    background-color: var(--primary);
    color: white;
}

.category-btn:not(.active):hover {
    color: #7390B2;
    transition: 0.5s;
}

.custom-btn {
    cursor: pointer;
    font-weight: bold;
    padding: 0.4rem 3.5rem;
    background-color: var(--primary);
    color: white;
    border: none;
    border-radius: 7px;
}


.custom-btn:hover {
    background-color: #405D7F;
    transition: 0.5s;
}

.custom-btn:focus {
    outline: none;
}

.form-control::placeholder,
.custom-select {
    font-style: italic;
}

.form-control:focus,
.custom-select:focus {
    box-shadow: none;
    border: 1px solid var(--primary);
}

.form-group>label {
    font-weight: bold;
    font-size: 1rem;
}

.form-group {
    text-align: left;
}

.custom-select {
    margin-bottom: 1rem;
}

.form-data {
    margin-bottom: 1rem;
}

nav {
    padding: 0.25rem 0.5rem !important;
}

.navbar-toggler {
    border: none;
    outline: none !important;
}

.navbar-toggler-icon {
    width: 40px;
    height: 40px;
}

.loader-wrapper {
    display: flex;
    min-height: 80vh;
    justify-content: center;
    align-items: center;
}

.loader {
    color: #ffffff;
    font-size: 90px;
    text-indent: -9999em;
    overflow: hidden;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    margin: 72px auto;
    position: relative;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
    animation: load6 1.7s infinite ease, round 1.7s infinite ease;
}

@-webkit-keyframes load6 {
    0% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }

    5%,
    95% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }

    10%,
    59% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }

    20% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
    }

    38% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
    }

    100% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
}

@keyframes load6 {
    0% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }

    5%,
    95% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }

    10%,
    59% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }

    20% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
    }

    38% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
    }

    100% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
}

@-webkit-keyframes round {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes round {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}


@media only screen and (max-width: 992px) {
    h1 {
        font-size: 2.2rem;
    }

    h3 {
        font-size: 1.6rem;
    }

    h4 {
        font-size: 1.4rem;
    }

    .category-btn,
    .custom-btn {
        font-size: 0.975rem;
    }

    .header>p {
        font-size: 1.05rem;
    }
}

@media only screen and (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    h4 {
        font-size: 1.3rem;
    }

    .category-btn,
    .custom-btn {
        font-size: 0.95rem;
    }

    .header>p {
        font-size: 1rem;
    }

    .nav-item {
        text-align: center;
    }

    .form-control::placeholder,
    .custom-select {
        font-size: 0.975rem;
    }

    .custom-select,
    .form-group {
        margin-bottom: 0.75rem;
    }
}

@media only screen and (max-width: 576px) {
    h1 {
        font-size: 1.8rem;
    }

    h3 {
        font-size: 1.4rem;
    }

    h4 {
        font-size: 1.2rem;
    }

    .category-btn {
        font-size: 0.925rem;
        padding: 0.4rem 6rem;
        margin: 1rem auto;
    }

    .custom-btn {
        font-size: 0.925rem;
        padding: 0.4rem 2.5rem;
    }

    .header>p {
        font-size: 0.94rem;
    }

    .form-control::placeholder,
    .custom-select {
        font-size: 0.95rem;
    }
}